@import "bootstrap-sprockets";
@import "bootstrap";

nav.navbar {
  margin-bottom: 0;
}

div#productsContainer {
  margin-top: 20px;
}

.thumbnail {
  height: 420px;
}

p.description {
  height: 90px;
  overflow: auto;
}